@model Vidly.Models.Movie
@{

    ViewData["Title"] = " Movie Details Page";
}

<h1> @Model.Title</h1>
<ul>
    <li> Genre: @Model.Genre.Name</li>
    <li> Release Date: @Model.ReleaseDate.Value.ToString()</li>
    <li> Date Added: @Model.DateAdded.Value.ToString()</li>
    <li> Number in Stock: @Model.Stock</li>
</ul>
